<div class="content-wrapper">
  <img src="https://dummyimage.com/512x512/404040/ffffff.png" alt="">
  <div class="content">
    <h2 class="typo-h3-min-md typo-h1-min-xl text-align-center">{{ data.name }}</h2>
    <ul>
      <li *ngFor="let attribute of data.attributes | keyvalue">
        <h3 class="no-margin typo-small font-weight-800">{{ attribute.key }}</h3>
        <p class="no-margin typo-small">{{ attribute.value }}</p>
      </li>
    </ul>
  </div>
</div>

<div class="footer">
  <button mat-icon-button tabIndex="-1" (click)="openPoolPm(data.fingerprint)">
    <mat-icon svgIcon="pool_pm"></mat-icon>
  </button>
  <div style="flex: 1 1 auto;"></div>
  <button mat-icon-button mat-dialog-close tabIndex="-1">
    <mat-icon svgIcon="close"></mat-icon>
  </button>
</div>
