@use 'scss-elements/variables';
@use 'scss-elements/mixins';

:root {
  // Spacing Config
  --content-max-width: 1440px;
  // Spacings
  --spacing-xs: 16px;
  --spacing-sm: 24px;
  --spacing-md: 32px;
  --spacing-lg: 48px;
  --spacing-xl: 64px;
  --spacing-offset: 16px;
  // Dynamic Spacing Variable
  --spacing: var(--spacing-xs);
  @include mixins.media-min(variables.$res-sm) {
    --spacing: var(--spacing-sm);
  }
  @include mixins.media-min(variables.$res-md) {
    --spacing: var(--spacing-md);
  }
  @include mixins.media-min(variables.$res-lg) {
    --spacing: var(--spacing-lg);
  }
  @include mixins.media-min(variables.$res-xl) {
    --spacing: var(--spacing-xl);
  }

  --color-text: #6a96da;
  --color-text-rgb: 106, 150, 218;
  // --color-text-inverted: #f2f2f2;

  // --color-link: #202020;
  // --color-link-inverted: #f2f2f2;

  --color-primary-100: #3e5671;
  --color-primary-200: #324c69;
  --color-primary-300: #264160;
  --color-primary-400: #1a3757;
  --color-primary-500: #0e2c4e;
  --color-primary-600: #0d2a4a;
  --color-primary-700: #0d2846;
  --color-primary-800: #0c2542;
  --color-primary-900: #0b233e;

  --color-accent: #f03788;
  --color-accent-rgb: 240, 55, 136;
  --color-highlight: #37A4E6;
  --color-highlight-rgb: 54, 164, 230;

  --color-background-bright: var(--color-primary-500);
  --color-background-darken: var(--color-primary-900);

  --elevation-00: none;
  --elevation-01: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  --elevation-02: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  --elevation-03: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  --elevation-04: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  --elevation-06: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  --elevation-08: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  --elevation-09: 0 9px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12), 0 5px 6px -3px rgba(0, 0, 0, 0.2);
  --elevation-12: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2);
  --elevation-16: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  --elevation-24: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}
