
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$nft-generator-primary: mat.define-palette(mat.$indigo-palette);
$nft-generator-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$nft-generator-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$nft-generator-theme: mat.define-light-theme((
  color: (
    primary: $nft-generator-primary,
    accent: $nft-generator-accent,
    warn: $nft-generator-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($nft-generator-theme);

:root {
  --color-text: #6a96da;
  --color-text-rgb: 106, 150, 218;
  // --color-text-inverted: #f2f2f2;

  // --color-link: #202020;
  // --color-link-inverted: #f2f2f2;

  --color-primary-100: #3e5671;
  --color-primary-200: #324c69;
  --color-primary-300: #264160;
  --color-primary-400: #1a3757;
  --color-primary-500: #0e2c4e;
  --color-primary-600: #0d2a4a;
  --color-primary-700: #0d2846;
  --color-primary-800: #0c2542;
  --color-primary-900: #0b233e;

  --color-accent: #f03788;
  --color-accent-rgb: 240, 55, 136;
  --color-highlight: #37A4E6;
  --color-highlight-rgb: 54, 164, 230;

  --color-background-bright: var(--color-primary-500);
  --color-background-darken: var(--color-primary-900);

  --color-button-color: #064571;
  --color-button-gradient: linear-gradient(0deg, rgb(var(--color-highlight-rgb)) 0%, rgb(39, 187, 202) 100%);
  --color-button-shadow: 0 4px 24px 0 rgba(26, 79, 133, .56);
  --color-button-shadow-hover: 0 8px 32px 0 rgba(26, 79, 133, .86);

  // --color-decent: #717171;
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  // height: 100%;
}

html {
  box-sizing: border-box;
  // scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: var(--color-text);
  font-family: 'Nunito', sans-serif;
  background-color: var(--color-primary-500);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-accent);
}

hr {
  height: 1px;
  margin: 0;
  border: none;
  display: block;
  background-color: rgba(var(--color-accent-rgb), 0.48);
}

.no-margin {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}
