.checkboxes {
  max-height: 312px;
  overflow: auto;
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  scrollbar-width: auto;
  scrollbar-color: rgba(0, 0, 0, 0.24) transparent;

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    border: 0 solid transparent;
  }

  .mat-checkbox {
    font: inherit;

    ::ng-deep .mat-checkbox-frame {
      border-color: var(--text-color);
    }

    ::ng-deep .mat-checkbox-label {
      margin-bottom: 3px;
    }

    ::ng-deep .mat-ripple { display: none; }

    &.mat-checkbox-checked.mat-accent {
      color: var(--color-accent);

      ::ng-deep .mat-checkbox-background {
        background-color: var(--color-accent);
      }
    }
  }
}
